@import "../../Variables"
.app-block
  margin-bottom: 15px
.friend-item
  .rounded-avatar
    flex-grow: 0
  .inner
    flex-grow: 1
    padding: 0 15px
    .name
      font-size: $big-text-primary
  .location
    font-size: $normal-text-primary







